../.CFUserTextEncoding
../.DS_Store
../.LfCache/
../.NERDTreeBookmarks
../.anaconda/
../.android/
../.bash_history
../.bash_profile
../.bash_sessions/
../.bashrc
../.bnd2/
../.cache/
../.condarc
../.config/
../.ctags
../.cups/
../.fzf.bash
../.fzf.zsh
../.fzf/
../.gitconfig
../.gitignore
../.idlerc/
../.ipython/
../.kingsoft/
../.local/
../.npm/
../.oh-my-zsh/
../.pylint.d/
../.python_history
../.ssh/
../.tmux/
../.vim
../.viminfo
../.vimrc
../.vnc/
../.vscode/
../.z
../.zcompdump-MacBook Air-5.3
../.zcompdump-MacBook Air-5.7.1
../.zplug/
../.zprofile
../.zsh_history
../.zshrc
../Applications (Parallels)/
../Applications/
../Desktop/
../Documents/
../Downloads/
../Library/
../Movies/
../Music/
../OneDrive/
../Parallels/
../Pictures/
../Public/
../ctags/
../fonts/
../oh-my-zsh-powerline-theme/
../powerline-fonts/
../tmuxp/
